<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
</head>
<body>
    <content>
        {% load staticfiles %}
    </content>
    <h2>Информация об отдельных занятиях школы</h2>
    <div class="dlinks">
    <a class="btn-dlinks-default" href ="https://vk.com/id445134720" target="_blank"> <img src="{% static 'app/content/audio.jpg' %}" alt="Logo1"/></a>
    <a class="btn-dlinks-default" href ="https://vk.com/id445134720" target="_blank"> <img src="{% static 'app/content/writing.JPG' %}" alt="Logo2"/></a>
    <a class="btn-dlinks-default" href ="https://vk.com/id445134720" target="_blank"> <img src="{% static 'app/content/reading.jpg' %}" alt="Logo3"/></a>
    </div>
</body>
</html>